<% layout('./layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <H1><%= err.message %> :(</H1>
      <h2 class="alert-heading">Error: <%= err.statusCode %></h2>
      <p class="mb-0">Click Home to go back</p>
    </div>
  </div>
</div>
