<body>
  <nav
    class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
    display=""
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bucket AI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/myList">My Bucket List</a>
          </li>
        </ul>

        <div class="nav-item ml-auto">
          <% if (!currentUser){ %>
          <a style="display: inline" class="nav-link active" href="/register"
            >Register</a
          >
          <a style="display: inline" class="nav-link active" href="/login"
            >Login</a
          >
          <% } else{%>
          <a style="display: inline" class="nav-link active" href="/logout"
            >Logout</a
          ><% } %>
        </div>
      </div>
    </div>
  </nav>
</body>
