<% layout('./layouts/boilerplate') %>

<div class="d-flex justify-content-center">
  <div><h1>Welcome to BucketAI</h1></div>
</div>

<div id="home-div">
  <div class="d-flex justify-content-center">
    <button>
      <a href="/myList">
        <h2>View My Bucket List</h2>
      </a>
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <button>
      <a href="/register">
        <h2>Register</h2>
      </a>
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <button>
      <a href="/login">
        <h2>Login</h2>
      </a>
    </button>
  </div>
</div>
